<div class="carousel" id="carousel">
    <button class="carousel__prevBtn"></button>
    <div class="carousel__showBlock">
        <ul class="carousel__itemList" id="elemsList">
            <li class="carousel__item 1">
                <div class="carousel__title">
                    <img class="carousel__img" src="img/team_4.jpg" alt="Robert">
                    <div class="carousel__member">
                        <p class="carousel__memberName">Robert Gibs</p>
                        <p class="carousel__memberLogin">@RobberGI</p>
                    </div>
                </div>
                <p class="carousel__quote"><a href="#" class="carousel__quoteLink">@Lorem</a> ipsum dolor sit amet. Suspendisse sodales sem est, in scelerisque felis scelerisque in. Aenean faucibus mollis risus. Praesent sit amet erat eget eros.</p>
                <p class="carousel__quoteDate">2 hours ago</p>
            </li>
            <li class="carousel__item 2">
                <div class="carousel__title">
                    <img class="carousel__img" src="img/team_6.jpg" alt="Amanda">
                    <div class="carousel__member">
                        <p class="carousel__memberName">Amanda Johnes</p>
                        <p class="carousel__memberLogin">@AmandaJ</p>
                    </div>
                </div>
                <p class="carousel__quote"><a href="#" class="carousel__quoteLink">@Pixelbuddha</a> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, necessitatibus. Praesent sit amet erat eget eros.</p>
                <p class="carousel__quoteDate">2 hours ago</p>
            </li>
            <li class="carousel__item 3">
                <div class="carousel__title">
                    <img class="carousel__img" src="img/team_8.jpg" alt="Steven">
                    <div class="carousel__member">
                        <p class="carousel__memberName">Steven Strange</p>
                        <p class="carousel__memberLogin">@DoctorS</p>
                    </div>
                </div>
                <p class="carousel__quote"><a href="#" class="carousel__quoteLink">@Lorem</a> ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur corporis delectus in ipsam libero natus possimus reprehenderit vitae! Harum.</p>
                <p class="carousel__quoteDate">2 hours ago</p>
            </li>
            <li class="carousel__item 4">
                <div class="carousel__title">
                    <img class="carousel__img" src="img/team_9.jpg" alt="Tom">
                    <div class="carousel__member">
                        <p class="carousel__memberName">Tom Graddle</p>
                        <p class="carousel__memberLogin">@GraddleT</p>
                    </div>
                </div>
                <p class="carousel__quote"><a href="#" class="carousel__quoteLink">@Pixelbuddha</a> Suspendisse sodales sem est, in scelerisque felis scelerisque in. Aenean faucibus mollis risus. Praesent sit amet erat eget eros.</p>
                <p class="carousel__quoteDate">2 hours ago</p>
            </li>
        </ul>
    </div>
    <button class="carousel__nextBtn"></button>
</div>