<li class="menu__item"><span class="menu__itemHoverLine"></span><a class="menu__itemLink" href="#">Home</a></li>
<li class="menu__item"><span class="menu__itemHoverLine"></span><a class="menu__itemLink" href="#overview">Overview</a></li>
<li class="menu__item"><span class="menu__itemHoverLine"></span><a class="menu__itemLink" href="#about">About Fork</a></li>
<li class="menu__item"><span class="menu__itemHoverLine"></span><a class="menu__itemLink" href="#purchase">Buying Options</a></li>
<li class="menu__item"><span class="menu__itemHoverLine"></span><a class="menu__itemLink" href="#footer">Support</a></li>

