<ul class="overviewList">
    <li class="overviewList__item">
        <i class="overviewList__itemWebIcon icon"></i>
        <div class="overviewList__itemTextArea">
            <h3 class="overviewList__itemTitle">Creatred to Make The Web Better</h3>
            <br>
            <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
    </li>
    <li class="overviewList__item">
        <i class="overviewList__itemPowerIcon icon"></i>
        <div class="overviewList__itemTextArea">
            <h3 class="overviewList__itemTitle">Incredibly Powerful Tool</h3>
            <br>
            <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
        </div>
    </li>
    <li class="overviewList__item">
        <i class="overviewList__itemExperimentIcon icon"></i>
        <div class="overviewList__itemTextArea">
            <h3 class="overviewList__itemTitle">Experimental Stuff</h3>
            <br>
            <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
    </li>
    <li class="overviewList__item">
        <i class="overviewList__itemWatchIcon icon"></i>
        <div class="overviewList__itemTextArea">
            <h3 class="overviewList__itemTitle">Creatred to Make The Web Better</h3>
            <br>
            <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</div>
        </div>
    </li>
</ul>
