<ul class="overviewList">
    <li class="overviewList__item">
        <i class="overviewList__itemWebIcon icon"></i>
        <p class="overviewList__itemTextArea">
            <span class="overviewList__itemTitle">Creatred to Make The Web Better</span>
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
        </p>
    </li>
    <li class="overviewList__item">
        <i class="overviewList__itemPowerIcon icon"></i>
        <p class="overviewList__itemTextArea">
            <span class="overviewList__itemTitle">Incredibly Powerful Tool</span>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
        </p>
    </li>
    <li class="overviewList__item">
        <i class="overviewList__itemExperimentIcon icon"></i>
        <p class="overviewList__itemTextArea">
            <span class="overviewList__itemTitle">Experimental Stuff</span>
            Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
        </p>
    </li>
    <li class="overviewList__item">
        <i class="overviewList__itemWatchIcon icon"></i>
        <p class="overviewList__itemTextArea">
            <span class="overviewList__itemTitle">Creatred to Make The Web Better</span>
            Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.
        </p>
    </li>
</ul>
