<ul class="purchaseOptions" id="purchaseOptions">
    <li class="purchaseOptions__option">
        <p class="purchaseOptions__optionName">STUDENTS</p>
        <p class="purchaseOptions__optionPrice"><span class="purchaseOptions__dIcon">$</span>29</p>
        <p class="purchaseOptions__optionPeriod">PER MONTH</p>
        <hr class="purchaseOptions__optionSeparation">
        <p class="purchaseOptions__optionDescription">Personal License</p>
        <a class="purchaseButton button" href="#">PURCHASE</a>
    </li>
    <li class="purchaseOptions__option">
        <p class="purchaseOptions__optionName">PROFESSIONAL</p>
        <p class="purchaseOptions__optionPrice"><span class="purchaseOptions__dIcon">$</span>59</p>
        <p class="purchaseOptions__optionPeriod">PER MONTH</p>
        <hr class="purchaseOptions__optionSeparation">
        <p class="purchaseOptions__optionDescription">Professional License<br>Email Support</p>
        <a class="purchaseButton button" href="#">PURCHASE</a>
    </li>
    <li class="purchaseOptions__option">
        <p class="purchaseOptions__optionName">AGENCY</p>
        <p class="purchaseOptions__optionPrice"><span class="purchaseOptions__dIcon">$</span>99</p>
        <p class="purchaseOptions__optionPeriod">PER MONTH</p>
        <hr class="purchaseOptions__optionSeparation">
        <p class="purchaseOptions__optionDescription">1-12 Team Members<br>Phone Support</p>
        <a class="purchaseButton button" href="#">PURCHASE</a>
    </li>
    <li class="purchaseOptions__option">
        <p class="purchaseOptions__optionName">ENTERPRICE</p>
        <p class="purchaseOptions__optionPrice"><span class="purchaseOptions__dIcon">$</span>159</p>
        <p class="purchaseOptions__optionPeriod">PER MONTH</p>
        <hr class="purchaseOptions__optionSeparation">
        <p class="purchaseOptions__optionDescription">Unlimited Team Members<br>24/ 7 Phone Support</p>
        <a class="purchaseButton button" href="#">PURCHASE</a>
    </li>
</ul>