<ul class="reviewsList">
    <li class="reviewsList__item">
        <a href="#" class="reviewsList__itemLogo reviewsList__itemSmashingLogo icon"></a>
        <p class="reviewsList__itemQuote">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis.</p>
    </li>
    <li class="reviewsList__item">
        <a href="#" class="reviewsList__itemLogo reviewsList__itemCodropsLogo icon"></a>
        <p class="reviewsList__itemQuote">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
    </li>
    <li class="reviewsList__item">
        <a href="#" class="reviewsList__itemLogo reviewsList__itemWLogo icon"></a>
        <p class="reviewsList__itemQuote">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
    </li>
    <li class="reviewsList__item">
        <a href="#" class="reviewsList__itemLogo reviewsList__itemPbLogo icon"></a>
        <p class="reviewsList__itemQuote">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
    </li>
    <li class="reviewsList__item">
        <a href="#" class="reviewsList__itemLogo reviewsList__itemCbLogo icon"></a>
        <p class="reviewsList__itemQuote">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
    </li>
    <li class="reviewsList__item">
        <a href="#" class="reviewsList__itemLogo reviewsList__itemTnwLogo icon"></a>
        <p class="reviewsList__itemQuote">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
    </li>
</ul>