<div class="socialButtons">
    <div class="socialButtons__block">
        <a class="socialButton socialButton--themeGit button" href="#">
            <svg class="socialButton__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                <defs>
                    <path id="waiwa" d="M327.45 2366.73c-.07-.98-.15-2.2-.16-2.69-.03-.37-.07-1.33-.96-1.95 3.55-.3 5.24-2.3 5.36-4.94a5 5 0 0 0-1.53-3.9 21.8 21.8 0 0 0-.1-3.1c-.8-.23-2.67.78-3.2 1.2a9.76 9.76 0 0 0-5.43 0c-1.16-.83-2.49-1.34-3.2-1.2a3.97 3.97 0 0 0-.11 3.1c-.86.79-2.06 1.77-1.73 3.83.52 3.01 2.6 4.64 5.96 5.04-.72.15-.84.69-.9.92-2.25.95-2.9-.58-3.18-.98-.95-1.19-1.8-.84-1.85-.83-.05.02-.09.1-.08.14.05.25.56.51.59.53.7.53.95 1.5 1.11 1.76 1 1.68 3.33.98 3.35 1l-.03 2.34a10.15 10.15 0 0 1-7.36-9.82 10.1 10.1 0 0 1 10-10.18c5.52 0 10 4.56 10 10.18 0 4.4-2.73 8.12-6.55 9.55z"/>
                </defs>
                <g><g transform="translate(-314 -2347)"><use fill="#2b414d" xlink:href="#waiwa"/></g></g>
            </svg>
            GitHub
        </a>
        <p class="socialButton__followers">7 352 Followers</p>
    </div>
    <div class="socialButtons__block">
        <a class="socialButton socialButton--themeTwitter button" href="#">
            <svg class="socialButton__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19" height="15" viewBox="0 0 19 15">
                <defs>
                    <path id="eheea" d="M613 2351.78c-.7.3-1.45.5-2.24.6a3.82 3.82 0 0 0 1.72-2.1c-.76.44-1.59.75-2.48.92a3.95 3.95 0 0 0-2.84-1.2 3.84 3.84 0 0 0-3.8 4.65 11.18 11.18 0 0 1-8.04-3.95c-.33.56-.53 1.2-.53 1.9 0 1.31.7 2.47 1.74 3.15a3.97 3.97 0 0 1-1.77-.47v.04a3.82 3.82 0 0 0 3.13 3.71 4.04 4.04 0 0 1-1.76.07c.5 1.5 1.93 2.6 3.64 2.63a7.97 7.97 0 0 1-5.77 1.57 11.28 11.28 0 0 0 5.97 1.7 10.85 10.85 0 0 0 11.09-11.26 7.78 7.78 0 0 0 1.94-1.96z"/>
                </defs><g><g transform="translate(-594 -2350)">
                <use fill="#fff" xlink:href="#eheea"/><use fill="#26a6d1" xlink:href="#eheea"/></g></g>
            </svg>
            Twitter
        </a>
        <p class="socialButton__followers">136 312 Followers</p>
    </div>
    <div class="socialButtons__block">
        <a class="socialButton socialButton--themeFacebook button" href="#">
            <svg class="socialButton__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="8" height="16" viewBox="0 0 8 16">
                <defs>
                    <path id="xob6a" d="M880.95 2352.01H883v-3.04h-2.42c-2.94.11-3.54 1.76-3.6 3.5v1.52h-2v2.98h2v8H880v-8h2.47l.48-2.98H880v-.92c0-.58.4-1.06.95-1.06z"/>
                </defs>
                <g><g transform="translate(-875 -2349)"><use fill="#fff" xlink:href="#xob6a"/></g></g>
            </svg>
            Facebook
        </a>
        <p class="socialButton__followers">218 092 Subscribers</p>
    </div>
</div>