//=================GENERAL=================//

.button {
  @include flex-row;
  font-family: $montserrat;
  background-color: $violet;
  border-radius: 30px;
  color: $white;

  &--buy {
    @include size(145px, 38px);
    @include fontSW(16, 700);
    min-width: 145px;
    &:hover { @include size(143px, 36px);}
  }

  &--download {
    @include size(390px, 62px);
    @include fontSW(21, 700);
    &:hover { @include size(388px, 60px); }
  }

  &--call,
  &--subscribe {
    @include size(140px, 42px);
    @include fontSW(13);
    min-width: 140px;
    cursor: pointer;
    &:hover { @include size(138px, 40px); }
  }

  &:hover {
    border: 1px solid $violet;
    background-color: $white;
    color: $violet; }
}

//=================SOCIAL=================//

.socialButton {
  @include size(240px, 50px);
  @include fontSW(21);
  @include flex-row;
  border-radius: 5px;
  position: relative;
  margin: 20px;

  &__icon {
    position: absolute;
    left: 0;
    padding-left: 24px; }

  &__followers {
    @include fontSW(14);
    color: $lightGrey; }

  &--themeGit {
    background-color: #f3f3f3;
    color: $black;
    &:hover {
      background-color: #2b414d;
      color: $white;
      #waiwa { fill: $white; }
    }
  }

  &--themeTwitter {
    background-color: #26a6d1;
    color: $white;
    #eheea { fill: white; }
    &:hover {
      border: 1px solid #26a6d1;
      background-color: $white;
      color: #26a6d1;
      #eheea { fill: #26a6d1; }
    }
  }

  &--themeFacebook {
    background-color: #3b5998;
    color: $white;
    &:hover {
      border: 1px solid #3b5998;
      background-color: $white;
      color: #3b5998;
      #xob6a { fill: #3b5998; }
    }
  }

  &:hover { @include size(238px, 48px);}
}

//=================PURCHASE=================//

.purchaseButton {
  @include size(190px, 52px);
  @include font($white, 15, 400);
  @include flex-row;
  @include marginTB(37px, 38px);
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #7f6d78;
    font-weight: 700;
  }
}

//=================REPOSITORY=================//

.gitButtons {
  @include flex-row;

  &__item {
    @include flex-row;
    padding: 10px;
    height: 26px; }

  &__button,
  &__countField {
    @include font($black, 12, 600);
    @include flex-row;
    @include paddingLR(10px, 10px);
    border: 1px solid rgba(27,31,35,0.2);
    height: 100%;
  }

  &__button {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #eff3f6;
    &:hover {
      background-color: #e6ebf1;
      border-color: rgba(27,31,35,0.35); }
  }

  &__countField {
    border-left: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    &:hover { color: #0366d6; }
  }

  &__icon { padding-right: 5px; }
}

//=================WRAP-BUTTON================//

.wrapButton {
  @include flex-col;
  display: none;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  height: 23px;

  &__iconLine {
    @include size(25px, 3px);
    border-radius: 1px;
    background-color: white;
    border: 0;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &--short { width: 15px; }
  }

  &--active {
    .wrapButton__iconLine:nth-child(1) {
      transform: rotate(45deg) translate(0px, 12px);
      width: 25px; }
    .wrapButton__iconLine:nth-child(2) { visibility: hidden; }
    .wrapButton__iconLine:nth-child(3) { transform: rotate(-45deg) translate(2px, -14px); }
    .header .menu--dropdown { visibility: visible; }
  }
}
