.carousel {
  @include flex-row;
  @include marginTB(34px, 80px);
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;

  &__showBlock {
    width: 100%;
    max-width: 720px;
    position: relative;
    overflow: hidden;
  }

  &__prevBtn,
  &__nextBtn {
    @include size(30px, 30px);
    opacity: 0.5;
    cursor: pointer;
    background: none;
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 11.5%;
    &:focus { outline-style: none; }
  }

  &__prevBtn {
    margin-right: 4.7%;
    background-image: url("../img/Arrow_L.png"); }

  &__nextBtn {
    margin-left: 4.7%;
    background-image: url("../img/Arrow_R.png"); }

  &__itemList {
    @include flex-row;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    text-align: center;
    }

  &__item {
    @include flex-col;
    min-width: 100%;
    float: left;
    position: relative; }

  &__title {
    @include flex-row;
    margin-bottom: 48px;
    width: 100%;
    box-sizing: border-box; }

  &__img {
    @include size(85px, 85px);
    border-radius: 50px;
    opacity: 0.8;
    -webkit-box-shadow: 0 0 25px rgba(0, 5, 5, 0.3);
    box-shadow: 0 0 25px rgba(0, 5, 5, 0.3);
    margin: 23px; }

  &__member { text-align: left; }

  &__memberName {
    @include font($darkViolet, 24, 700);
    font-family: $montserrat; }

  &__memberLogin {
    @include font($violet, 16, 400);
    font-family: $montserrat; }

  &__quote {
    @include font(#333333, 20, 400);
    width: 100%;
    font-family: $sourceSansPro;
    line-height: 32px; }

  &__quoteLink { color: #8d81ac; }

  &__quoteDate {
    @include font($lightGrey, 16, 400);
    font-family: $montserrat;
    margin-top: 24px; }
}

