//==================HEADER-SECTION================//
.header {
  text-align: center;
  background-image: url("../img/HeaderLayer.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;

  .logo--themeMulti { display: none; }

  &__title {
    @include flex-col;
    @include width(90%, 300px);
    @include marginLR(auto, auto); }

  .header__title p:first-child,
  .header__title p:nth-child(2),
  .header__title p:last-child {
    padding-top: 10.20px;
    font-family: $montserrat; }

  .header__title p:first-child { @include font($white, 82, 700); }
  .header__title p:nth-child(2) { @include font($violet, 30, 400); }
  .header__title p:last-child { @include font($lightGrey, 16, 400); }
}



//==================DOWNLOAD-SECTION================//
.downloadBlock {
  @include flex-col;
  font-family: $montserrat;
  text-align: center;
  left: calc(50% - 195px);
  margin-top: -31px;

  &__description {
    @include font($lightGrey, 14, 400);
    padding-top: 19px; }
}

//==================EDITOR-SECTION================//
.editor {
  @include paddingTB(67px, 70px);

  &__content {
    @include flex-col;
    text-align: center; }

  &__title {
    @include font($darkViolet, 54, 700);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 39px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

  &__description {
    @include font($darkGrey, 21, 400);
    max-width: 878px;
    opacity: 0.8;
    font-family: "Source Sans Pro", sans-serif;
    padding-bottom: 36px; }
}

//==================OVERVIEW-SECTION================//
.overview {
  @include flex-row;
  @include paddingLR(6.5%, 0);
  @include paddingTB(210px, 69px);
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: $backgroundGrey;
  position: relative;
  text-align: left;

  &__title {
    @include font($violet, 48, 700);
    font-family: $montserrat;
    margin-bottom: 41px;
    margin-right: 7%; }

  &__codeBlock { overflow: hidden; }

  &__codeImage {
    @include sprite(678, 475, -20, -20);
    background-image: url("../img/codeImg.png");
    box-shadow: 0 0 25px rgba(0, 5, 5, 0.3);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; }
}

//==================SOCIAL-SECTION================//
.socialBlock {
  @include flex-col;
  font-family: $montserrat;
  padding-bottom: 80px;
  padding-top: 20px; }

//==================REVIEWS-SECTION================//
.reviews {
  @include flex-col;
  background-image: url("../img/layersDesert1.png");
  background-position: bottom;
  padding-top: 98px;
  background-size: cover;
  text-align: center;

  &__title {
    @include font($white, 48, 700);
    font-family: $montserrat;
    padding-bottom: 92px; }

  &__separation {
    @include size(64.83%, 1px);
    min-width: 768px;
    margin-bottom: 79px;
    background-color: #c7c7c7;
    opacity: 0.2; }
}

//==================PURCHASE-SECTION================//
.purchase {
  @include flex-col;
  background-color: rgba(75, 59, 78, 1);;
  padding-bottom: 77px;
  background-image: url("../img/2-layersDesert@2x.png");
  background-position: bottom;
  background-size: cover;
  font-family: $montserrat;
  text-align: center;

  &__content { @include flex-col; }

  &__title {
    @include font($white, 48, 700);
    margin-bottom: 115px; }

  &__footnote {
    @include font(#a291a5, 14, 400);
    opacity: 0.8;
    font-family: $sourceSansPro;
    line-height: 21px;
    width: 71.8%; }
}

//==================FOLLOW-UP--SECTION================//
.followUp {
  @include flex-row;
  @include paddingTB(26px, 32px);
  background-color: #f4f4f4;
  font-family: $montserrat;
  text-align: center;

  &__content {
    @include flex-row;
    justify-content: space-between;
    position: relative; }

  &__callbackTitle {
    @include font($darkViolet, 30, 700);
    margin-right: 20px; }

  &__subscribeTitle {
    @include font(#323232, 28, 700);
    display: none; }
}

//==================FOOTER--SECTION================//
.footer {
  @include flex-row;
  padding-top: 75px;
  font-family: $montserrat;

  &__content {
    @include flex-row;
    justify-content: space-between;
    align-items: flex-start; }

  .logoBlock,
  .navigation,
  .contacts,
  .info { margin-bottom: 113px; }

  .logoBlock { width: 26%; }
  .navigation { width: 11%; }
  .contacts { width: 19%; }
  .info { width: 26%; }
}












