@media screen and (max-width: 480px) {
  //==========================================================HEADER-SECTION====//
  @include headerTitle(54, 20);
  .header .logo--themeMain { display: none; }
  .header .logo--themeMulti { display: flex; }
  .header .wrapButton { display: flex; }
  .header .menu--inline { display: none; }
  .header .inlineBar__verticalSeparation { display: block; }
  .header .inlineBar__verticalSeparation { @include marginLR(20px, 20px); }
  //==========================================================EDITOR-SECTION====//
  .editor__description { font-size: 16px; }
  //==========================================================OVERVIEW-SECTION====//
  .overview__codeImage { width: 93%; }
  .overview__title {
    @include width(62.3%, 299px);
    left: calc(50% - 149.5px); }
  .overview .benefits {
    width: 88.33%;
    margin-bottom: 57px; }
  //============================================================REVIEW-SECTION====//
  .reviews .reviewsList { justify-content: center; }
  .reviews__separation { min-width: 73%; }
  .reviewsList__item {
    padding-bottom: 65px;
    width: 90%; }
  //==========================================================PURCHASE-SECTION====//
  .purchase { padding-bottom: 37px;}
  .purchase .purchase__footnote { padding-top: 47px; }
  .purchase .focused {
    margin-top: 32px;
    margin-bottom: 32px; }
  //==========================================================FOLLOW_UP-SECTION====//
  .followUp__callbackTitle {display: none; }
  .followUp__subscribeTitle { display: flex; }
  .followUp .callbackForm { display: none; }
  .followUp .subscribeForm {
    display: flex;
    width: 90%;
    &__input {
      width: 60.42%;
      max-width: 234px; }
    &__button { min-width: 100px; }
  }
  //==========================================================FOOTER-SECTION====//
  .footer {
    &__content {
      flex-direction: column;
      width: calc(100% - 10px); }
    .logoBlock,
    .navigation,
    .contacts,
    .info {
      margin-bottom: 30px;
      width: calc(100% - 10px);
      margin-left: 10px; }
    .info__title { margin-left: 0; }
    .logoBlock__description { width: 252px; }
    .contacts__address {
      max-width: 247px;
      line-height: 23px; }
  }
}


@media screen and (max-width: 462px) {
  //==========================================================DOWNLOAD-SECTION====//
  .downloadBlock .button--download { @include transform(0.8); }
}


@media screen and (max-width: 408px) {
  //==========================================================HEADER-SECTION====//
  .header .inlineBar__row {
    @include transform(0.8);
    @include marginLR(-70px, -70px);
    width: 120%; }
  //==========================================================EDITOR-SECTION====//
  .editor__title { font-size: 33px; }
}


@media screen and (max-width: 360px) {
  //==========================================================DOWNLOAD-SECTION====//
  .downloadBlock .button--download { @include transform(0.6); }
}


@media screen and (max-width: 336px) {
  //==========================================================PURCHASE-SECTION====//
  .purchase .focused { @include transform(1.1); }
}


@media screen and (max-width: 320px) {
  body { min-width: 320px; }
}