.menu {
  font-family: $montserrat;

  //================INLINE-MENU================//

  &--inline {
    @include flex-row;
    flex-wrap: nowrap;

    .menu__item {
      margin-right: 46px;
      &:first-child { display: none; }
    }

    .menu__itemLink {
      @include font($violet, 16, 700);
      &:hover { color: $white; }
    }
  }
  //================MULTILINE-MENU================//

  &--multiline {
    @include flex-col;
    align-items: flex-start;
    .menu__itemLink {
      @include font($violet, 15, 400);
      line-height: 23px;
      &:hover {
        border-bottom: 1px solid $violet;
        padding-bottom: 1px; }
    }
  }

  //================DROPDOWN-MENU================//

  &--dropdown {
    @include flex-col;
    @include size(100%, 64.02vh);
    flex-wrap: nowrap;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    visibility: hidden;

    .menu__item {
      @include flex-row;
      @include size(100%,-webkit-fill-available);
      justify-content: flex-start;
      background-color: #333333;
      border-bottom: 1px solid #858585;
      &:first-child .menu__itemLink { color: #858585; }
      &:hover {
        .menu__itemHoverLine { visibility: visible; }
        .menu__ItemLink { color: $violet; }
      }
    }

    .menu__itemLink {
      @include font($white, 32, 400);
      @include flex-row; }

    .menu__itemHoverLine {
      @include size(5px, 53px);
      margin-right: 24px;
      background-color: $violet;
      border: 0;
      visibility: hidden; }
  }
  &--active { visibility: visible; }
}








