@import "var";
@import "mixin";
* {
  padding: 0;
  margin: 0; }

//body::-webkit-scrollbar { display: none;  }
body { overflow-x: hidden; }

a {
  text-decoration: none;
  color: black;
  &:hover { text-decoration: none; }
}

ul { list-style: none; }


footer,
section {
  @include flex-col;
}

.container {
  width: 96%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2%;
  -ms-overflow-style: none;
}

.icon {
  background-image: url("../img/css_sprites.png");
  display: block; }