.overviewList {
  @include flex-col;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 5%;
  font-family: $montserrat;
  position: relative;
  max-width: 501px;
  width: 100%;

  &__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 34px;
    min-height: 110px;
    width: 100%; }

  &__itemTextArea {
    @include font($lightGrey, 14, 400);
    @include flex-col;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-left: 23px;
    width: 100%;}

  &__itemTitle {
    @include font($darkGrey, 16, 400);
    margin-bottom: 5px;
    width: 100%; }

  &__itemDescription {
    width: 100%;
  }

  .icon { min-width: 111px; }

  &__itemWebIcon { @include sprite(111, 64, -10, 453); }
  &__itemPowerIcon { @include sprite(111, 80, -7, 193); }
  &__itemExperimentIcon { @include sprite(111, 100, 10, 100); }
  &__itemWatchIcon { @include sprite(111, 71, 2, 285);}
}






