.purchaseOptions {
  @include flex-row;
  flex-wrap: nowrap;
  align-items: initial;
  width: 100%;

  &__option {
    @include flex-col;
    @include width(23%, 220px);
    max-width: 257px;
    position: relative;
    background-color: hsla(0,0%,100%,.11);
    text-align: center;
    padding-bottom: 120px;
    cursor: pointer;
    margin: 7px;
    margin-bottom: 92px; }

  &__optionName {
    @include size(100%, 97px);
    @include font(#fff, 24, 400);
    @include flex-row;
    background-color: hsla(0,0%,100%,.06);
    position: relative; }

  &__optionPrice {
    @include font(#fff, 60, 700);
    @include marginTB(32px, 24px); }

  &__dIcon { font-weight: 400; }

  &__optionPeriod {
    @include font($white, 14, 400);
    opacity: 0.3; }

  &__optionSeparation {
    @include size(60px, 5px);
    @include marginTB(39px, 31px);
    background-color: $violet;
    border: 0; }

  &__optionDescription {
    @include font($white, 16, 400);
    line-height: 32px; }
}

.focused {
  @include transform(1.2);
  @include marginLR(2.2%, 2.2%);
  outline: none;
  background-color: rgba(0, 0, 0, 0.16);

  .purchaseOptions__optionName {
    background-color: rgba(0, 0, 0, 0.11);
    font-size: 20px; }

  .purchaseOptions__optionPrice {
    @include fontSW(75, 700);
    margin-top: 15px; }
}













