.reviewsList {
  @include flex-row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;

  &__item {
    @include flex-col;
    @include marginLR(11px, 11px);
    @include width(30%, 294px);
    max-width: 330px;
    padding-bottom: 98px; }

  &__itemLogo {
    @include size(225px, 70px);
    margin-bottom: 25px; }

  &__itemQuote {
    @include font($white, 16, 400);
    font-family: "Source Sans Pro - Bold It", sans-serif;
    line-height: 24px;
    font-style: italic;
    width: 100%;
    }

  &__itemSmashingLogo { background-position: 15px 600px; }
  &__itemCodropsLogo { background-position: 24px 534px; }
  &__itemWLogo { background-position: 65px 372px;}
  &__itemCbLogo { background-position: 16px 714px; }
  &__itemTnwLogo {background-position: 50px 659px;}
  &__itemPbLogo {
    background-image: url("../img/pixelLogo.png");
    background-repeat: no-repeat;
    background-position: center; }
}

