$violet: #8d81ac;
$darkViolet: #635c73;
$white: white;
$black: black;
$darkGrey: #323232;;
$lightGrey: #848e97;
$backViolet: #4b3b4e;
$backgroundGrey: #f4f4f4;
$container: calc((100% - 1200px)/2);
$montserrat: 'Montserrat', sans-serif;
$sourceSansPro: "Source Sans Pro", sans-serif;
$lato: 'Lato', sans-serif;